/* Link Effects */
a:link,
a:visited{
    color: #BAAC8C;
    text-decoration: none;
}

a:focus {
    background: #C42127;
}

a:hover {
    color: #C42127;
    margin-left: 0.1875em;
}

a:active {
    background: #F4AF1E;
}


/* Background img */
body {
  background: url("../img/texture1.png");
}


/* Headings */
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    color: #C42127;
    background: #B2C5D3;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2.5em;
    color: #416B7A;
    background: #B2C5D3;
}

h2:hover {
    color:#C42127;
    text-shadow: 0.125em 0.125em 0.3em black;
    margin-left: 0.25em;
    transition: all ease .5s;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2em;
    color: #BAAC8C;
}

h4{
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
    text-transform: none;
    font-size: 1em;
    color: #B2C5D3;
}


/*  Picture of me  */
.me {
    background: rgba(186, 172, 140, 0.25);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    position: relative;
    width: 70%;
    border-radius: .45em;
}

.me2 {
    background: rgba(186, 172, 140, 0.25);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    position: relative;
    width: 37%;
    border-radius: .45em;
}


/* Navigation */
div {
    text-align: center;
}

.nav {
  text-align: center;
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: 'Oxygen', cursive;
  font-size: .85em;
  font-weight: 400;
}

.nav li {
  float: left;
}

.nav > li a {
  display: block;
  background: rgba(133, 0, 0, 0.14);
  padding: 12px 18px;
  text-decoration: none;
  color: #BAAC8C;
  border-bottom: 1px solid #eee;
  transition: all ease .5s;
}

.nav:hover > li a {
  opacity: .55;
  transition: all ease .5s;
}

.nav > li:hover a {
  opacity: 1;
  color: #C42127;
  border-color: #C42127;
}

/* Paragraphs */

.pop-out {
  background: none;
  border-radius: .5em;
  padding: .5em 2em 1em;
  margin: 2em
  list-style: none;
  max-width: 31.25em;
  text-align: left
}

.pop-out:hover {
  background: rgba(97, 97, 97, 0.48);
  margin-left: 2em;
  box-shadow: 0.3125em 0.3125em 0.625em black;
    transition: all ease .7s;
}

p {
    font-family: 'Oxygen', cursive;
    font-size: 1em;
    text-transform: none;
    letter-spacing: -.02em;
    color: #B2C5D3;
}
