/* Link Effects */
a:link,
a:visited{
    color: #BAAC8C;
    text-decoration: none;
}

a:focus {
    background: #C42127;
}

a:hover {
    background: #C42127;
    margin-left: 3px;
}

a:active {
    background: #F4AF1E;
}


/* Background img */
body {
  background: url("../Style-Tile/img/texture1.png");
}


/* Headings */
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    color: #C42127;
    background: #B2C5D3;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2.5em;
    color: #416B7A;
    background: #B2C5D3;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2em;
    color: #BAAC8C;
}


/*  Picture of me  */
.me {
    position: center;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
    position: relative;
    width: 75%
}


/* Navigation */
.primary-nav {
    border: solid #BAAC8C 3px;
    margin: 4px;
    display: inline;
    font-family: 'Oxygen', cursive;
    font-size: 14px;
    font-weight: 400;
}


/* Paragraphs */
p {
    font-family: 'Oxygen', cursive;
    text-transform: none;
    letter-spacing: -.02em;
    color: #B2C5D3;
}
