/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: #C42127;
}

.color-2{
    background: #416B7A;
}

.color-3{
    background: #BAAC8C;
}

.color-4{
    background: #F4AF1E;
}

.color-5{
    background: #B2C5D3;
}


/* Textures or Patterns*/

.pattern-1{
    background: url("../img/texture1.png");
}

.pattern-2{
    background: url("../img/texture2.png");
}

.pattern-3{
    background: url("../img/texture3.png");
}

.pattern-4{
    background: url("../img/texture4.png");
}

.pattern-5{
    background: url("../img/texture5.png");
}


/* Imagery */


/* Icons */
/* When downloading an icon from iconmonstr use PNG: 240px 32px 416B7A B2C5D3 circle */


/* Navigation */

a:link,
a:visited{
    color: #BAAC8C;
    text-decoration: none;
}

a:focus {
    background: #C42127;
}

a:hover {
    background: #C42127;
    margin-left: 8px;
}

a:active {
    background: #F4AF1E;
}

/* Typography */

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: red;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: blue;
}

h3 {
    font-family: ;
    font-size: 1.5em;
    color: orange;
}

p1 {
    font-family: sans-serif;
    font-style: italic;
    color: lightgray;
}

p {
    font-family: 'Oxygen', sans-serif;
    color: black;
}
